*.obj
Debug
yami4/lib/*
common/nbproject/private
common/build
bin
*.a
*.o
*.o.d
*.inc
/common/*.user
/common/Release
*.so
*.pyc
/wshandling/build/
/wshandling/nbproject/private
/wshandling/*.user
/wshandling/Release
/wshandling/Debug

